*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
background-color: #f0f5f5;
height: 300vh;
width: 100vw;
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
}

form{
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#add{
 background-color: #99ebff;
 height: 30px;
 width: 50px;
 border-radius: 5px;


}
input{
  height: 30px;
  width: 80%;
  border-radius: 5px;
  padding-left: 10px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #99ebff;
}
h1{
   color: #99ebff;
}
img{
height: 50px;
width: 50px;
}